<%-include('header')%>
    <div class="container">
        <div class="mt-4 p-5 bg-black text-white rounded">
            <h1><%=title%></h1>
            <p><%=content%></p>
        </div>
        
        <form action="/delete" method="post">
            <input type="text" name="postId" hidden value="<%= postId %>">
            <input class="btn btn-danger fs-5 btn-lg my-2 button-rad" type="submit" name="delete" value="Delete">
        </form>
        <a href="/edit/<%=postId %>"><input type="button" value="edit" class="btn btn-primary fs-5 btn-lg my-2 button-rad"></a>
    </div>
    

</body>
</html>